# App
SECRET_KEY=ceQM48h5v_JW-nroRmJygBuuNw3A3AE9XpdW-T0HG8sPgIYIw9gjZWfDkXHUeIdJ
DEBUG=False
ALLOWED_ORIGINS=https://t.me,https://school21-p2p.vercel.app

# Database (all run inside the same container on localhost)
DATABASE_URL=postgresql+asyncpg://peerlearn:strongpassword@localhost:5432/peer_learn
REDIS_URL=redis://localhost:6379/0

# School21
SCHOOL21_API_BASE=https://platform.21-school.ru/services/21-school/api/v1
FERNET_KEY=VBGCzfMjfr8AKt_Acf2151bvxoL7HIUP0wapWELrYzY=

# JWT
JWT_SECRET_KEY=ua-pmNj2efRaGykokm_xWWHS0zY-vshU-zvs_q5xQvCCrEuGdkZDIUwT6Tl-BIJt
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_HOURS=24
REFRESH_TOKEN_EXPIRE_DAYS=7

# Telegram
TELEGRAM_BOT_TOKEN=8994609682:AAH26IXXBB1NJJRTvg_xWsx1I6rVuOym7pE
TELEGRAM_WEBHOOK_URL=https://yourdomain.com/bot/webhook
TELEGRAM_REQUIRED_CHANNEL=-1003320951856
ADMIN_IDS=5678281376

# Celery (redis inside the same container)
CELERY_BROKER_URL=redis://localhost:6379/1
CELERY_RESULT_BACKEND=redis://localhost:6379/2

# Render port (Render sets this automatically, default 8000)
PORT=8000
